<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Weather map - Fiona Przybylski</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/weather-icons.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body ng-app="weatherApp">
    <div class="container-fluid" ng-controller="WeatherCtrl">
        <header class="row">
            <nav class="navbar col-md-6 col-md-offset-3 col-sm-12">
                <span class="app-title">Weather app</span>
                <span class="app-description">5 day weather forecast</span>
            </nav>
        </header>
        <section class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 weather-container p-t-2" ng-cloak>
                <h1 class="text-xs-center">{{weatherReport.city.name}}</h1>
                <div ng-repeat="list in weatherByDay" id="{{list.dt}}" role="tabpanel" ng-show="tab == list.dt">
                    <h4 class="text-xs-center">{{list.dt * 1000 | date:'EEEE dd MMMM '}}</h4>
                    <div class="row">
                        <div class="col-sm-12 content-align-center">
                            <img src="http://openweathermap.org/img/w/{{list.weather[0].icon}}.png" alt="weather icon to show {{list.weather[0].description}}">
                            <p class="content-inline">{{list.weather[0].description}}</p>
                        </div>
                    </div>
                    <div class="row p-b-2">
                        <div class="col-md-8 col-md-offset-2  col-xs-10 col-xs-offset-1 content-align-center p-t-1 p-b-1 temp-wrapper" ng-class="{'warm': list.temp.day > 291, 'cold': list.temp.day < 279}">
                            <div class="temp-main">
                                <p>{{list.temp.day | kelvinToCelsius }}<span class="deg">&deg;</span></p>
                            </div>
                            <div class="temp-extremes">
                                <p>High: {{list.temp.max | kelvinToCelsius}}&deg;C</p>
                                <p>Low: {{list.temp.min | kelvinToCelsius}}&deg;C</p>
                            </div>
                        </div>
                    </div>
                    <div class="row weather-extras">
                        <div class="col-md-12col-xs-12 content-align-center">
                            <p class="content-inline"><i class="wi wi-strong-wind" aria-hidden="true"></i>wind speed: {{list.speed}} m/s</p>
                            <p class="content-inline"><i class="wi wi-cloud" aria-hidden="true"></i>cloudiness: {{list.clouds}} %</p>
                            <p class="content-inline"><i class="wi wi-humidity" aria-hidden="true"></i>humidity: {{list.humidity}} %</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 tab-container p-b-2">
                            <ul class="nav nav-tabs" id="weatheDetailTab" role="tablist">
                                <li ng-repeat="list in weatherByDay" class="nav-item">
                                    <a class="nav-link" ng-class="{active:tab == list.dt}" ng-click="setTab(list.dt)" role="tab" tabindex="{{$index}}">
                                        <span class="tab-date hidden-xs-down">{{list.dt * 1000 | date:'EEE dd '}}</span>
                                        <span class="tab-date hidden-sm-up ">{{list.dt * 1000 | date:'EEE'}}</span>
                                        <span class="tab-temp">{{list.temp.day | kelvinToCelsius}} &deg;C</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12">
                <p>Information from <a href="http://openweathermap.org/api" target="_blank">Open weather map</a></p>
            </div>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="http://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="scripts/script.js"></script>
</body>

</html>
