/* variables */
/* colours*/
body {
  color: #000d1a; }

h1,
h2,
h3,
h4,
p {
  font-weight: 200;
  color: #000d1a; }

a {
  color: #00994d; }
  a:hover, a:focus {
    color: #006633; }

.wi {
  margin-right: 6px; }

nav {
  background: #c7e3ff; }
  nav.navbar {
    border-radius: 0; }
  nav span {
    letter-spacing: 0.8px;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 2px #ccc;
    float: left; }
    @media screen and (max-width: 554px) {
      nav span {
        display: block;
        float: none; } }
  nav span:last-of-type {
    float: right;
    text-transform: lowercase; }
    @media screen and (max-width: 554px) {
      nav span:last-of-type {
        float: none; } }

.tab-container ul.nav.nav-tabs li.nav-item {
  text-align: center;
  width: 20%;
  background: #aed6ff;
  border: 1px solid #ffffff;
  margin: 0; }
  .tab-container ul.nav.nav-tabs li.nav-item a {
    display: inline-block;
    width: 100%;
    min-height: 100px;
    cursor: pointer;
    border: none; }
    .tab-container ul.nav.nav-tabs li.nav-item a:hover {
      border-top: 10px solid #80c0ff; }
    .tab-container ul.nav.nav-tabs li.nav-item a.active {
      background: white;
      border-top: 10px solid #b3d9ff; }
    .tab-container ul.nav.nav-tabs li.nav-item a .tab-date,
    .tab-container ul.nav.nav-tabs li.nav-item a .tab-temp {
      display: block;
      color: #000d1a;
      padding-bottom: 12px;
      font-weight: 500; }
    @media screen and (max-width: 554px) {
      .tab-container ul.nav.nav-tabs li.nav-item a.nav-link {
        padding: .5rem 0; } }

.weather-container {
  background: #b3d9ff;
  background: linear-gradient(0deg, #e6f3ff, #b3d9ff); }
  .weather-container .temp-wrapper {
    background-color: #67b3ff; }
    .weather-container .temp-wrapper.warm {
      background: #ff8c1a; }
    .weather-container .temp-wrapper.cold {
      background: #004d99; }
  .weather-container .temp-main {
    display: inline-block; }
    .weather-container .temp-main p {
      color: #ffffff;
      font-size: 7rem;
      line-height: 1; }
  .weather-container .temp-extremes {
    display: inline-block; }
    .weather-container .temp-extremes p {
      font-size: 1.5rem;
      padding-left: 12px;
      color: #ffffff; }
  .weather-container .weather-extras p:not(:last-of-type) {
    margin-right: 3%; }
  .weather-container .deg {
    font-size: 4rem;
    line-height: 80px;
    vertical-align: top; }

footer div[class^="col-"] {
  background: #e6f3ff;
  padding: .5rem; }
footer p {
  margin-bottom: 0; }

/* helpers */
.content-align-center {
  text-align: center; }

.content-inline {
  display: inline-block; }

/*# sourceMappingURL=style.css.map */
