/* variables */
$base: 24px; //body p line-height

/* colours*/
$primary:#b3d9ff;
$complimentary:#00994d;
$warm:#ff8c1a;
$cold:#004d99;
body {
    color: darken($primary, 80%);
}

h1,
h2,
h3,
h4,
p {
    font-weight: 200;
    color: darken($primary, 80%);
}

a {
    color: $complimentary;
    &:hover,
    &:focus {
        color: darken($complimentary, 10%);
    }
}

.wi {
    margin-right: $base/4;
}

nav {
    background: lighten($primary, 4%);
    &.navbar {
        border-radius: 0;
    }
    span {
        letter-spacing: 0.8px;
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 0 0 2px #ccc;
        float: left;
        @media screen and (max-width: 554px) {
            display: block;
            float: none;
        }
    }
    span:last-of-type {
        float: right;
        text-transform: lowercase;
        @media screen and (max-width: 554px) {
            float: none;
        }
    }
}

.tab-container {
    ul.nav.nav-tabs {
        li.nav-item {
            text-align: center;
            width: 20%;
            background: darken($primary, 1%);
            border: 1px solid #ffffff;
            margin: 0;
            a {
                display: inline-block;
                width: 100%;
                min-height: 100px;
                cursor: pointer;
                border: none;
                &:hover {
                    border-top: 10px solid darken($primary, 10%);
                }
                &.active {
                    background: lighten($primary, 20%);
                    border-top: 10px solid $primary;
                }
                .tab-date,
                .tab-temp {
                    display: block;
                    color: darken($primary, 80%);
                    padding-bottom: $base/2;
                    font-weight: 500;
                }
                &.nav-link {
                    @media screen and (max-width: 554px) {
                        padding: .5rem 0;
                    }
                }
            }
        }
    }
}

.weather-container {
    background: $primary;
    background: linear-gradient(0deg, lighten($primary, 10%), $primary);
    .temp-wrapper {
        background-color: darken($primary, 15%);
        &.warm {
            background: $warm;
        }
        &.cold {
            background: $cold;
        }
    }
    .temp-main {
        display: inline-block;
        p {
            color: #ffffff;
            font-size: 7rem;
            line-height: 1;
        }
    }
    .temp-extremes {
        display: inline-block;
        p {
            font-size: 1.5rem;
            padding-left: $base/2;
            color: #ffffff;
        }
    }
    .weather-extras {
        p {
            &:not(:last-of-type) {
                margin-right: 3%;
            }
        }
    }
    .deg {
        font-size: 4rem;
        line-height: 80px;
        vertical-align: top;
    }
}

footer {
    div[class^="col-"] {
        background:lighten($primary, 10%);
        padding: .5rem;
    }
    p {
        margin-bottom: 0;
    }
}


/* helpers */

.content-align-center {
    text-align: center;
}

.content-inline {
    display: inline-block;
}
